header {
    color: white !important;
    background-color: #1d1d1f !important;
    height: 68px !important;
}

.headerLogo{
    width: 20px;
}

.navbar {
    margin: 0 auto;
    padding: 0px;
}

.navbar > a {
    color: white;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

a:hover, .nav_hover:hover {
    text-decoration: none;
    color: #6e6e73;
}